<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product details</title>
</head>

<body>
    <h1> Selected Prouct details </h1>
    <ul>
        <li> Product Name: <%= foundProducts.name %>
        </li>
        <li>Price: <%= foundProducts.price %>
        </li>
        <li>Category: <%= foundProducts.category %>
        </li>
    </ul>
    <a href="/products"> show details</a>
</body>

</html>